<div class="tasks-container">
<div class="tasks-header">
  <h1>My Tasks</h1>
  <div class="task-count"><span>{{tasksCount}}</span></div>
  <div class="sort">
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary"
      (click)="toggleSorting()">

      {{currentSortingFunction}}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-sort-down"
           viewBox="0 0 16 16">
        <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
      </svg>
    </button>
  </div>
</div>
<div
  (click)="openNewTask()"
  class="new-task">
    <div class="new-plus">
<!--      <img src="plusBtn.png">-->
      +
    </div>
    <span>Add New Task</span>
</div>
<div class="tasks-wrapper">
  <div class="task-wrapper" *ngFor="let task of tasks">
<div
  class="task"
  (click)="onSelect(task)"
>
  <div
    (click)="toggleCompleteTask(task, $event)"
    class="complete-btn">
    <img *ngIf="task.completed"
      class="complete" src="assets/checkedBox.png">
    <img *ngIf="!task.completed"
      class="incomplete" src="assets/uncheckedBox.png">
  </div>
  <span>{{task.name}}</span>
  <div class="arrow-img"> > </div>
</div>
  <hr>
  </div>
</div>
</div>
<app-task-detail
  (closeDetailEvent)="removeSelectedTask()"
  (newTaskAddedEvent)="renderNewTask($event)"
  (deleteTaskEvent)="destroyTask($event)"
  (updateTaskEvent)="addAlertMessage('success','Successfully Updated: ',$event);sortTasks()"
  (alertEvent)="addAlertMessage('danger',$event,'')"
  [task]="selectedTask"
></app-task-detail>
<div class="ngb-alert-container">
  <ngb-alert
    *ngFor="let alert of alerts"
    (closed)="close(alert)"
    [type]="alert.type"><span class="alert-message">{{ alert.message }}</span><span
    class="alert-task">{{ alert.task }}</span></ngb-alert>
</div>
