<div
  *ngIf="task"
  class="details-wrapper">
  <div class="header">
    <span *ngIf="task.id == -1">New Task:</span>
    <span *ngIf="task.id != -1">Task:</span>
    <span class="btn-close"
    (click)="closeDetails()">
    </span>
  </div>
  <div class="input-container">
  <input
    #taskName
    required
    class="form-control"
    type="text"
    id="task-name"
    placeholder="Task Name (required)"
    [ngModel]="task.name"
  >
  <textarea
    #taskDescription
    class="form-control"
    type="text"
    id="task-description"
    placeholder="Task Description (optional)"
    [ngModel]="task.description"
  ></textarea>
  </div>
  <div class="specifics-container">
    <div *ngIf="task.id != -1"
         class="date-added-container">
      <h5 class="specifics-label">Date Added</h5>
      <span>{{ task.dateAdded | date: 'MMM d, y' }}</span>
    </div>
    <div class="due-date-container">
      <h5 class="specifics-label">Due Date</h5>
      <div class="input-group">
        <input
          #taskDueDate
          class="form-control form-date"
          [readonly]="true"
          placeholder="None"
          name="d2"
          value="{{ task.dueDate }}"
          ngbDatepicker
          #d2="ngbDatepicker"
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-calendar3"
               viewBox="0 0 16 16">
            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
        </button>
      </div>
      <a
        class="link-secondary clear-duedate"
        (click)="taskDueDate.value = ''"
      >Clear</a>
    </div>
    <div *ngIf="task.id != -1"
      class="completed-container">
      <h5 class="specifics-label">Completed</h5>
      <span>{{ task.completed | status }}</span>
    </div>
  </div>
  <div
    *ngIf="task.id == -1"
    id="new-task-footer"
    class="footer"
  >
    <button
    class="btn btn-danger"
    type="button"
    [disabled]="taskDescription.value == '' && taskName.value == ''"
    (click)="taskName.value = ''; taskDescription.value = ''"
    >
      Reset
    </button>
    <button
      class="btn btn-primary"
      type="button"
    [disabled]="!taskName.value"
    (click)="addTask(taskName.value, taskDescription.value, task.dateAdded, taskDueDate.value); closeDetails()">
      Add New Task
    </button>
  </div>
  <div
    *ngIf="task.id !== -1"
    id="edit-task-footer"
    class="footer"
  >
    <button
      class="btn btn-danger"
      type="button"
      (click)="deleteTask(task); closeDetails()">
      Delete Task
    </button>
    <button
      class="btn btn-warning"
      type="button"
      [disabled]="!taskName.value"
      (click)="updateTask(task, taskName.value, taskDescription.value, taskDueDate.value); closeDetails()">
      Save Changes
    </button>
  </div>
</div>

